#sarlavxa{
    background-color: indigo;
    color: white;
    border: 2px solid red;
    font-size: 18px;
    padding: 0.5rem;
}

#menu{
    width: 100%;
    background-color: indigo;
    border: 2px solid red;
    font-size: 18px;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
}

#menu a {
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 0.5rem;
    border-radius: 5px;
}

#sakrash{
    width: 100%;
    height: 3.8rem;
    color: white;
    background-color: red;
    border: 3px solid gold;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    margin: 2rem 0.1rem;
    font-size: 25px;
    cursor: pointer;
}

#sakrash:active{
    font-size: 20px;
}

.game{
    width: 300px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}
#mario{
width: 50px;
height: 50px;
background-image: url(../img/mario.png);
background-size: 50px 50px;
position: relative;
top: 148px;
}

#cactus{
    width: 20px;
    height: 40px;
    background-image: url(../img/mario_gul.png);
    background-size: 25px 45px;
    position: relative;
    top: 108px;
    left: 755px;
    animation: cactusMov 2.1s infinite linear;
}

#cactus_2{
    width: 22px;
    height: 40px;
    background-image: url(../img/mario_qoziqorin.png);
    background-size: 25px 45px;
    position: relative;
    top: 68px;
    left: 345px;
    animation: cactusMov 1.4s infinite linear;
}

@keyframes cactusMov{
    0%{
        left: 455px;
    }

    100%{
        left: -20px;
    }
}

.jump{
    animation: jump 0.3s  linear;
}

@keyframes jump{
    0%{
        top: 110px;
    }

    30%{
        top: 70px;
    }

    50%{
        top: 35px;
    }

    80%{
        top: 70px;
    }

    100%{
        top: 110px;
    }
}